# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Streamlit cache
.streamlit/

# OS files
.DS_Store
Thumbs.db
